<div class="container">
  <h2>Registrar nuevo paciente</h2>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <mat-form-field appearance="outline" class="campo">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Genero</mat-label>
      <input matInput formControlName="genero" required>
      <mat-error *ngIf="form.get('genero')?.hasError('required')">
        El género es obligatorio
      </mat-error>
      <mat-error *ngIf="form.get('genero')?.hasError('minlength')">
        Mínimo 5 carácter
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" required>
      <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('required')">
        Ingrese Fecha de Nacimiento
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Diagnostico</mat-label>
      <input matInput type="text" formControlName="diagnostico" required>
      <mat-error *ngIf="form.get('diagnostico')?.hasError('required')">
        Ingrese el diagnóstico
      </mat-error>
    </mat-form-field>

    <div class="botones">
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
        <mat-icon>check_circle</mat-icon> OK
      </button> 
      
      <button mat-stroked-button color="warn" (click)="salir()">
        <mat-icon>logout</mat-icon> Salir
      </button>

    </div>
  </form>
</div>
