.container {
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  color: white;
}

.campo {
  width: 100%;
  margin-bottom: 1rem;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}