mat-toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.titulo {
  flex: 1;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: white;
}